@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/Index.css" />

<!--<a asp-page="/Page3"> VANLIG LÄNK MELLAN SIDORNA</a>-->


<button id="lol" type="submit"><a asp-page="Page2" role="button">Add List / Edit list</a></button>
<button id="2" type="submit"><a asp-page="Page3" role="button">Viev Lists</a></button>

