@page
@model ListifyWebApp.Pages.Page3Model
@{
    
}
<div id="displaybox">

    @foreach (Models.Listify listifies in Model.listifies)
    {
        <div>
            <p>@listifies.Name</p>
        </div>
    }
    </div>



