@page
@model ListifyWebApp.Pages.Page2Model
@{
}
<link href="~/css/Page2.css" rel="stylesheet" />

<form method="post">
    <input asp-for="@Model.listify.Name" type="text" placeholder="List name:"></input>

    <button id="submitButton" type="submit">Add</button>
</form>
<div id="placeholderForTasks"></div>




