@page
@model ListifyWebApp.Pages.Page2Model
@{
}
<link href="~/css/Page2.css" rel="stylesheet" />
<div class="divForAddList">

<form method="post" asp-page-handler="AddListify">
    
    <input asp-for="listname" type="text" placeholder="List name:"></>
    
    <!--</form>
    <form method="post" asp-page-handler="AddTaskToList">-->
    <div id="placeholderForTasks"></div>
        
    <!--<input asp-for="@Model.taskDescription" />-->

    
    <button id="addTaskButton">Add task</button>
    <button id="submitButton" type="submit">Submit</button>
    <!--<button type="submit">Submit</button>-->

</form>
</div>

    





