@page
@model ListifyWebApp.Pages.Page2Model
@{
}
<link href="~/css/Page2.css" rel="stylesheet" />

<form method="post">
    <input type="text" name="Name" placeholder="List name: "></input>
    <input type="number" name="Id" />
    <button id="submitButton" type="submit">Add</button>
</form>
<div id="placeholderForTasks"></div>
<form method="post">
    <input hidden="true" type="text" name="Task" placeholder="Task:" />
    <button id="buttonAddTask" type="submit">Add task</button>


</form>



