@page
@model ListifyWebApp.Pages.Page2Model
@{
}
<link href="~/css/Page2.css" rel="stylesheet" />

<form method="post">
    <input type="text" name="Name" placeholder="List name: "></input>
    <button id="submitButton" type="submit">Add Listify</button>
</form>
<div id="placeholderForTasks"></div>






