@page
@model ListifyWebApp.Pages.Page2Model
@{
}
<form method="post">
    <input type="text" name="Name">List name:<input/>
    <input type="number" name="ålder" />
    <button type="submit">Add</button>
</form>