@page
@model ListifyWebApp.Pages.Page3Model
@{
    
}
<link href="~/css/Page3.css" rel="stylesheet" />
<div id="displaybox">

    @foreach (Models.Listify listifies in Model.Listifies)
    {
        <div>
            <p>@listifies.Name</p>
        </div>
    }
    </div>
<aside>
    <div class="addbutton"><button class="btn btn-primary" type="submit"><a asp-page="Page2" role="button">Add List / Edit list</a></button></div>
</aside>




