@page 
@using ListifyWebApp.Models;
@model ListifyWebApp.Pages.UpdateModel
@{
}

<p>ost</p>
<input asp-for="@Model.listify.Name"/>
@foreach(var item in Model.listify.tasks)
{
    <input asp-for="@item.TaskDescription">
    
}





