@page 
@using ListifyWebApp.Models;
@model ListifyWebApp.Pages.UpdateModel
@{
}


<div class="displayboxUpdate">
<a >
    <input asp-for="@Model.listify.Name" />
</a>
@foreach(var item in Model.listify.tasks)
{
    <div>
    <a> <input asp-for="@item.TaskDescription"></a>
                <button type="submit">Edit/Delete</button></div>
    
   
                
                

               
           
    
}
    </div>







