@page "{id?}"
@using ListifyWebApp.Models;
@model ListifyWebApp.Pages.UpdateModel
@{
}

<p>namejddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
<p>namejddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p><p>namejddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p><p>namejddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p><p>namejddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p><p>namejddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p><p>namejddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p><p>namejddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p><p>namejddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p><p>namejddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p><p>namejddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p><p>namejddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p><p>namejddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p><p>namejddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p><p>namejddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p><p>namejddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p><p>namejddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p><p>namejddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p><p>namejddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p><p>namejddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p><p>namejddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
<p>@Model.listify.Name</p>
@foreach (ItemTask task in  Model.listify.tasks)
{
    <p>listify.tasks</p>
}
