<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ListifyWebApp</title>
    
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Normalize.css" />   
</head> 
<body>
    <header>
        <div>
            <a asp-page="/Index"> Home page</a>
            <a asp-page="/Page2"> Add/edit list</a>
            <a asp-page="/Page3"> View lists</a>
        </div>
     </header> 
    <aside>
        <p>this is aside</p>
    </aside>
    <main>
        <p>hej i main</p>
        @RenderBody()
    </main>
    
    <footer>
        <p>this is footer</p>
    </footer>

    
</body>
</html>