html {
    height: 100%;
}
body{
    margin:0;
    padding:0;
    height: 100%;
    
}

header {
    position: fixed;
    height: 15vh;
    width: 100vw;
    background-color: #F3D3BD;
    top:0;
}
main {
    margin-top: 15vh;
}


aside {
    float: left; /* vet inte den här koden!*/
    height: 100vh;
    background-color: #868686;
    width: 15vw;
    top: 15vh;
    left: 0;
}

body > footer{
    clear:both; /* vet inte den här koden!*/
    width: 100vw;
    background-color: #5E5E5E;
    position:sticky;
    top: 100vh;
    

    
}
#Headline{
    color:black;
    display:flex;
    justify-content:center;
    text-decoration:none;
}


