
/*@font-face {
    font-family:"Headlinetext";
    src: url("~/NewFolder2/Waterfall/Waterfall-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}**/
html {
    height: 100%;
}
body{
    margin:0;
    padding:0;
    height: 100%;
}

header {
    position: fixed;
    height: 15vh;
    width: 100vw;
    background-color: #F3D3BD;
    top:0;
}

main {
    margin-top: 15vh;
}
aside {
    float: left; /* vet inte den här koden!*/
    height: 100vh;
    background-color: #868686;
    width: 15vw;
    top: 15vh;
    left: 0;
}
body > footer{
    clear:both; /* vet inte den här koden!*/
    width: 100vw;
    background-color: #5E5E5E;
    position:sticky;
    top: 100vh;
}
#Headlinetext {
    font-family: Lucida Handwriting;
    display: flex;
    justify-content: space-around;
    justify-content:left;
    font-weight: normal;
    font-style: normal;
    font-size: 350%;
    color:black;
}
#textunderline{
    text-decoration:none;
 
}
#lol {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    color: black;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;

}